kubeconfig_*
.idea
.DS_Store
.idea
.vscode
.project
.settings
**/.terraform/*
.terraform
*.terraform.lock.hcl
**/examples/complete/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
go.mod
go.sum
examples/scratch
test/terraform_scratch_test.go
